@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');
.borderA{
    border: 3px solid rgb(231, 39, 39);
}

body, .card-equipe{
    font-family: 'Noto Sans', sans-serif;
    background-color: #DBC8A3;
}

.card-equipe-footer{
background-color: rgb(26, 25, 25);
border: 1px solid rgb(255, 255, 255);
border-radius: 15px;
}

.menu-principal{
    background-color: rgb(5, 5, 5);
    border-radius: 7px;
}

.logo img{
    border-radius: 12.75rem;
    width: 8rem;
    margin-left: 1%;
    height: 8rem;
}
.alignement-bouton{
    margin-left: 3%;
}

.menu-bouton-1{
    margin-left: 2%;
}
@media only screen and (min-width: 768px) {
    .menu-bouton{
        margin-left: 2%;
    }
  }

.text-vision{
    text-align: justify;
    text-indent: 50px;
}

.lien-reseaux-socaux{
    text-decoration: none;
}

.image{
    width: 180px;
    height: 180px;
    border-radius: 10px;
}

.police-equipe-nom{
 font-size: 15px;
 font-weight: bold;
}

.police-equipe-fonction{
    font-size: 10px;
}

.texte-paragraphe{
    font-weight: bold ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 110%;
}

.lien-village{
    text-decoration: none;
    padding: 4px;
    border-radius: 1rem;
    margin: 2%;
}

.tableau-nombres{
    table-layout: auto;
    border-collapse: collapse;
    width: 90%;
    margin-left: 5%;
  }

  #conjugaison, #pronoms, #mots-expressions{
    display: none;
  }

.bloc-1 {
    background-color: gray;
    color: white;
    border-radius: 15px;
}

.bloc-2 {
    background-color: rgb(26, 25, 25);
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.bloc-3 {
    background-color: rgb(26, 25, 25);
    color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.bloc-4 {
    background-color: gray;
    color: white;
    border-radius: 15px;
}

.bloc-5 {
    background-color: rgb(26, 25, 25);
    color: white;
    border-radius: 15px;
}

.bloc-6{
    background-color: rgb(26, 25, 25);
    color: white;
   
}

.bloc-7{
    background-color: gray;
    color: white;
 
}

.bloc-footer{
    border-radius: 15px;

}

.carousel{
    width: 350px;
    border-radius: 15px;
  
}

.image-carousel{
    width: 350px;
    height: 300px;
    border-radius: 15px;

}

.container-carousel{
    justify-content: center;
}

@media (min-width: 576px) {
    .image-carousel{
        width: 500px;
        height: 300px;
        border-radius: 15px;
    
    }

    .container-carousel{
        justify-content: center;
    }

    .carousel{
        width: 500px;
        border-radius: 15px;
      
    }
  }

  @media (min-width: 1080px) {
    .image-carousel{
        width: 600px;
        height: 300px;
        border-radius: 15px;
    
    }

    .container-carousel{
        margin-left: 21%;
    }

    .carousel{
        width: 600px;
        border-radius: 15px;
      
    }
  }

  @media screen and (orientation: landscape){
    .image-carousel{
        width: 700px;
        height: 300px;
        border-radius: 15px;
    
    }

    .carousel{
        width: 700px;
        border-radius: 15px;
      
    }
  }

  .police-bienvenue{
    font-style:italic;
    font-family: serif;

  }








.box, .box_1 {
width: 0%;
height: 290px;
justify-content: center;
background: #c0b194;
position: sticky;
animation: openBox 1s cubic-bezier(.74, .06, .4, .92) forwards;
}

.img_histoire, .img_histoire_1 {
    width: 600px;
    position: absolute;
    left: -190px;
    top: 50px;
    opacity: 0;
    animation: fadeImg 1s ease-in-out forwards;
    animation-delay: 1s;
}




    .p {
        margin-left: 25px;
            font-family: 'Poppins';

    
    }



.text_histoire, .text_histoire_1 {
    width: 20px;
    height: 190px;
    background: #FFCA1B;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    animation: showDisc 1s cubic-bezier(.74, .06, .4, .92) forwards;
}

/*
  keyframes
 */

@keyframes openBox {
  0% {
    width: 0px;
    left: 15%;
  }
  100% {
    width: 900px;
    left: 15%;
  }
}

@keyframes fadeImg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



@keyframes showDisc {
  0% {
    width: 0px;
    left: 450px;
  }
  100% {
    width: 500px;
    left: 390px;
  }
}



















